.login-container {
  align-items: center;
  background-color: rgb(216, 215, 215);
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 2px 2px grey;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 16%;
  padding: 25px;
  width: 245px;
}

.button-login {
  width: 100px;
}

.login-inputs {
  margin-left: 15px;
}
