.header-wallet {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.data-header {
  margin-left: 10px;
}

.logo-header {
  border-radius: 4px;
}

.form-wallet {
  align-items: center;
  background-color: rgb(65, 63, 63);
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.method-tag-wallet {
  display: flex;
}

.input-wallet-value {
  height: 28px;
  margin-left: 5px;
}

.input-wallet-description {
  height: 28px;
  margin-left: 5px;
}

.input-wallet-currency {
  height: 35px;
  margin-left: 5px;
}

.input-wallet-method {
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.input-wallet-tag {
  height: 35px;
  margin-left: 5px;
}

.button {
  background-color: rgb(5, 5, 131);
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  padding: 10px;
}

.label-wallet-description {
  align-items: center;
  display: flex;
}

.table {
  display: flex;
  flex-direction: column;
}

.header-table {
  background-color: rgb(94, 88, 88);
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.row-table {
  background-color: rgb(228, 224, 224);
  display: flex;
  height: 45px;
  justify-content: space-around;
  margin-top: 2px;
}

.header-title {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 120px;
}

.table-content {
  align-items: center;
  display: flex;
  font-size: 13px;
  justify-content: center;
  width: 120px;
}
